<!doctype html>
<html lang="en">
  <head>
    <title>Arun Django Template test</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body><nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
      <a class="navbar-brand" href="#">PlayWithText.com</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Implementation</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" href="#">Remove Symbols</a>
                      <a class="dropdown-item" href="#">Remove Newlines</a>
                      <a class="dropdown-item" href="#">Remove white & Extra spaces</a>
                      <a class="dropdown-item" href="#">Convert all sentance in lowercase</a>
                      <a class="dropdown-item" href="#">Convert all sentance in uppercase</a>
                      <a class="dropdown-item" href="#">Count strings</a>
                  </div>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
  </nav>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Welcome to playwithtext.com</h4>
    <p>Hi! please try to play with sentances, characters, symbols & numbers using Django.</p>
    <p class="mb-0"></p>
  </div>   
    <div class="container">
        <form action="/analyze" method="post">{% csrf_token %} <!--mandatary csrf_token always when you are using post method-->
        <fieldset class="form-group">
            <legend class="col-form-legend col-md-12 form-group">Django Forms</legend>
            <div class="col-sm-12">
            <div class="form-group">
                <label for="story" class="col-sm-1-6 col-form-label">Tell us your story:</label>
                <div class="col-sm-1-12">
                    <textarea id="story" name="txtstory" rows="5" cols="33" placeholder="It was a dark and stormy night..." class="form-control"></textarea>
                </div>
            </div>
            <div class=" form-group" data-toggle="buttons">
                <label class="btn btn-primary" title="Plase Select"> Remove Punctuations
                    <input type="checkbox" name="removePunc" id="" autocomplete="off">
                </label>
                <label class="btn btn-secondary" title="Plase Select">Remove Extra Spaces
                    <input type="checkbox" name="removeExtraSpaces" id="" autocomplete="off">
                </label>
                
                <label class="btn btn-info" title="Plase Select">Remove new lines
                    <input type="checkbox" name="removeNewLines" id="" autocomplete="off">
                </label>
                
                <label class="btn btn-success" title="Plase Select">Uppers
                    <input type="checkbox" name="allCaps" id="" autocomplete="off">
                </label>
                <label class="btn btn-danger" title="Plase Select">Lowers
                    <input type="checkbox" name="allLowerCase" id="" autocomplete="off">
                </label>
                <label class="btn btn-dark" title="Plase Select">Count lowers
                    <input type="checkbox" name="cntLower" id="" autocomplete="off">
                </label>
                <label class="btn btn-light" title="Plase Select">Count Uppers
                    <input type="checkbox" name="cntUppers" id="" autocomplete="off">
                </label><hr>
                <label class="btn btn-warning" title="Plase Select">Count chars
                    <input type="checkbox" name="cntLetters" id="" autocomplete="off">
                </label>
                <label class="btn btn-link" title="Plase Select">Count numbers
                    <input type="checkbox" name="cntNumbers" id="" autocomplete="off">
                </label>
                <label class="btn btn-default" title="Plase Select">Count Symbols
                    <input type="checkbox" name="cntSymbols" id="" autocomplete="off">
                </label>
            </div>        
            <hr>
            <div class="form-group">
                <div class="col-sm-1-12">
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
            </div>
            </fieldset>
        </form>
             

        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>